/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-size: cover;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAdElEQVQImQFpAJb/AIW2xv98ssb/aqnD/1eeuP9YnrX/AH2xw/94rcP/bKrC/1mju/9NmrH/AHSsw/9vqMH/ZqjA/1umvP9OnrX/AGOmvv9eo7v/WqK5/1SguP9Pnbb/AFihuP9QnbT/Tpy1/0+btf9Ol7T/OqxEoWTTpugAAAAASUVORK5CYII=");
 padding-top: 60px;
}

table,td,th {
 vertical-align: middle;
 border: none;
}

th {
 border-bottom: 1px solid #DDD;
}

footer {
 margin-top: 100px;
 text-align: center;
 color: #999;
